# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Configuration file
base.yml
mahi_firebase.json

#swap files
*.swo
*.swp

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Media files
media/

# Static files
static/

# VS Code
.vscode

# IntelliJ configuration
.idea/
